<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{top :: menu}"></div>
<body>
<div class="container">
    <h2>타자성적</h2>
    <table class="table table-hover" style="width:1500px">

        <thead>
            <tr>
                <th style="text-align:center">시즌</th>
                <th style="text-align:center">구단</th>
                <th style="text-align:center">선수</th>
                <th style="text-align:center">경기수</th>
                <th style="text-align:center">안타</th>
                <th style="text-align:center">2루타</th>
                <th style="text-align:center">3루타</th>
                <th style="text-align:center">홈런</th>
                <th style="text-align:center">득점</th>
                <th style="text-align:center">타점</th>
                <th style="text-align:center">도루</th>
                <th style="text-align:center">볼넷</th>
                <th style="text-align:center">삼진</th>
                <th style="text-align:center">타율</th>
                <th style="text-align:center">출루율</th>
                <th style="text-align:center">장타율</th>
                <th style="text-align:center">OPS</th>
                <th style="text-align:center">wRC+</th>
                <th style="text-align:center">WAR</th>
                <th style="text-align:center">비고</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="bt : ${bt}">
                <td th:text="${bt.season} + '시즌'" style="text-align:center"></td>
                <td th:text="${bt.proteam}" style="text-align:center"></td>
                <td style="text-align:center">
                    <a th:href="@{/batterdetailview(bname=${bt.bname}, season=${bt.season}, proteam=${bt.proteam})}" th:text="${bt.bname}"></a>
                </td>
                <td th:text="${bt.bgame}" style="text-align:center"></td><td th:text="${bt.hits}" style="text-align:center"></td><td th:text="${bt.doub}" style="text-align:center"></td><td th:text="${bt.triple}" style="text-align:center"></td><td th:text="${bt.hr}" style="text-align:center"></td>
                <td th:text="${bt.runs}" style="text-align:center"></td><td th:text="${bt.rbi}" style="text-align:center"></td><td th:text="${bt.sb}" style="text-align:center"></td><td th:text="${bt.bb}" style="text-align:center"></td><td th:text="${bt.so}" style="text-align:center"></td><td th:text="${bt.avg}" style="text-align:center"></td>
                <td th:text="${bt.obp}" style="text-align:center"></td><td th:text="${bt.slg}" style="text-align:center"></td><td th:text="${bt.ops}" style="text-align:center"></td><td th:text="${bt.wrcp}" style="text-align:center"></td><td th:text="${bt.bwar}" style="text-align:center"></td>
                <td style="text-align:center">
                    <a th:href="@{/batterupdateview(bname=${bt.bname}, season=${bt.season}, proteam=${bt.proteam})}">수정</a> /
                    <a th:href="@{/batterdeleteview(bname=${bt.bname}, season=${bt.season}, proteam=${bt.proteam})}">삭제</a>
                </td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td colspan="20" style="text-align:center">
                    <button type="button" class="btn btn-primary" onclick="location.href='batterinput'">타자성적입력</button>
                    <button type="button" class="btn btn-success" onclick="location.href='main'">메인화면</button>
                </td>
            </tr>
        </tfoot>

    </table>
</div>
</body>
</html>